body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  body {
    overflow: unset;
    height: unset;
  }
}
body * {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  text-decoration: none;
  box-sizing: border-box;
}
body .login-block {
  overflow: hidden;
  position: relative;
  height: 100vh;
  padding: 26px 22px 22px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  body .login-block {
    padding: 40px 0;
    overflow: unset;
    height: unset;
  }
}
@media screen and (min-width: 1200px) {
  body .login-block {
    display: grid;
    grid-template-columns: 0.42fr 0.58fr;
    padding: 0;
    height: 100vh;
  }
}
body .login-block .logo-cont {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  body .login-block .logo-cont {
    display: none;
  }
}
body .login-block .logo-cont img {
  width: 117px;
  height: auto;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  body .login-block .logo-cont img {
    width: 154px;
  }
}
body .login-block .desktop-side-aesthetic-left-side {
  display: none;
}
@media screen and (min-width: 1200px) {
  body .login-block .desktop-side-aesthetic-left-side {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
  }
  body .login-block .desktop-side-aesthetic-left-side .desktop-logo {
    width: 229px;
    height: auto;
    object-fit: contain;
  }
  body .login-block .desktop-side-aesthetic-left-side .desktop-copyright {
    color: #fff;
    font-size: 15px;
  }
  body .login-block .desktop-side-aesthetic-left-side .desktop-copyright a {
    color: #fff;
    font-weight: bold;
  }
  body .login-block .desktop-side-aesthetic-left-side .desktop-logo, body .login-block .desktop-side-aesthetic-left-side .desktop-copyright {
    position: relative;
    z-index: 2;
  }
  body .login-block .desktop-side-aesthetic-left-side .desktop-bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}
body .login-block .form-cont {
  position: relative;
  z-index: 2;
  padding: 32px 26px 28px 26px;
  background-color: #fff;
  border-radius: 10px;
  margin: 26px 0 22px 0;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont {
    max-width: 644px;
    width: 644px;
    margin: 40px auto;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  body .login-block .form-cont {
    margin: auto;
  }
}
body .login-block .form-cont .text-cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .text-cont {
    max-width: 377px;
    margin: 0 auto 40px auto;
    padding-top: 74px;
  }
}
body .login-block .form-cont .text-cont h1 {
  margin: 0;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  color: #3f3f3f;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .text-cont h1 {
    font-size: 30px;
  }
}
body .login-block .form-cont .text-cont p {
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  color: #A2A4AB;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .text-cont p {
    font-size: 15px;
  }
}
body .login-block .form-cont .sign-links-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  background-color: #F2F3F8;
  border-radius: 14px;
  margin-bottom: 20px;
  padding: 6px;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .sign-links-cont {
    max-width: 377px;
    margin: 0 auto 30px auto;
  }
}
body .login-block .form-cont .sign-links-cont a {
  color: #3f3f3f;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 17px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .sign-links-cont a {
    padding: 14px 17px;
    font-size: 20px;
  }
}
body .login-block .form-cont .sign-links-cont a.active {
  background-color: #fff;
  border-radius: 11px;
}
body .login-block .form-cont form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont form {
    max-width: 377px;
    margin: 0 auto 0 auto;
  }
}
body .login-block .form-cont form .form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
body .login-block .form-cont form .form-group label {
  color: #3f3f3f;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont form .form-group label {
    font-size: 15px;
  }
}
body .login-block .form-cont form .form-group input {
  padding: 15px;
  border-radius: 3px;
  background-color: #F2F3F8;
  border: none;
  transition: 0.3s;
}
body .login-block .form-cont form .form-group input:focus {
  background-color: rgba(0, 0, 0, 0);
}
body .login-block .form-cont form .form-group input::placeholder {
  color: #A2A4AB;
  font-size: 15px;
}
body .login-block .form-cont form .form-group .submit-btn {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  border-radius: 42px;
  background-color: #0266FF;
  color: #fff;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont form .form-group .submit-btn {
    padding: 16px 91px;
    font-size: 15px;
  }
}
body .login-block .form-cont form .form-group .submit-btn:hover {
  background-color: #0252CD;
}
body .login-block .form-cont form .form-group.password-group {
  position: relative;
  margin-top: 14px;
}
body .login-block .form-cont form .form-group.password-group i {
  position: absolute;
  z-index: 4;
  right: 16px;
  top: 34px;
  cursor: pointer;
}
body .login-block .form-cont form .forgot-password-cont {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 31px 0 39px 0;
}
body .login-block .form-cont form .forgot-password-cont a {
  color: #0266FF;
  font-size: 12px;
  font-weight: italic;
  text-decoration: underline;
  font-style: italic;
}
body .login-block .form-cont form .forgot-password-cont p {
  font-size: 13px;
  color: #3f3f3f;
}
body .login-block .form-cont .divider {
  display: flex;
  gap: 34px;
  align-items: center;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .divider {
    max-width: 377px;
    margin: 30px auto 30px auto;
  }
}
body .login-block .form-cont .divider .line {
  height: 1px;
  width: 100%;
  background: #CED0D7;
}
body .login-block .form-cont .divider p {
  color: #CED0D7;
  font-weight: 700;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .divider p {
    font-size: 15px;
  }
}
body .login-block .form-cont .quick-sign-in-links-cont {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .quick-sign-in-links-cont {
    max-width: 377px;
    margin: 0 auto 0 auto;
    padding-bottom: 74px;
  }
}
body .login-block .form-cont .quick-sign-in-links-cont a {
  position: relative;
  text-align: center;
  padding: 10px 15px;
  border-radius: 42px;
  background-color: #F2F3F8;
  color: #3f3f3f;
  font-size: 13px;
  border: solid 1px rgba(0, 0, 0, 0.0392156863);
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .quick-sign-in-links-cont a {
    font-size: 15px;
    padding: 15px;
  }
}
body .login-block .form-cont .quick-sign-in-links-cont a:hover {
  background-color: #E8ECF9;
  border: 1px solid #0266FF;
}
body .login-block .form-cont .quick-sign-in-links-cont a svg {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  top: calc(50% - 9px);
}
@media screen and (min-width: 768px) {
  body .login-block .form-cont .quick-sign-in-links-cont a svg {
    width: 27px;
    height: 27px;
    top: calc(50% - 14px);
  }
}
body .login-block .form-cont .quick-sign-in-links-cont a svg.apple-icon {
  color: #3f3f3f;
}
body .login-block .copyright-msg-cont {
  position: relative;
  z-index: 2;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  body .login-block .copyright-msg-cont {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  body .login-block .copyright-msg-cont {
    display: none;
  }
}
body .login-block .copyright-msg-cont a {
  font-weight: 700;
  color: #fff;
}
body .login-block img.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  body .login-block img.bg-img {
    display: none;
  }
}
body .dashboard-block {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block {
    flex-direction: row;
    gap: 0;
    max-width: 1512px;
  }
}
body .dashboard-block .navigation-bar {
  border-right: solid 1px rgba(0, 0, 0, 0.1490196078);
}
body .dashboard-block .navigation-bar .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px 16px 16px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper {
    width: 336px;
    flex-direction: column;
    align-items: flex-start;
    gap: 59px;
    padding: 42px 38px 38px 38px;
    min-height: 100vh;
    max-height: 100vh;
    justify-content: flex-start;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .logo-cont {
  width: 97px;
  height: 34px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .logo-cont {
    width: 150px;
    height: 52px;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .logo-cont img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items {
    width: 100%;
    max-height: none;
    gap: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 168px;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .desktop-main-links {
  display: none;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .desktop-main-links {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .desktop-main-links .title {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .desktop-main-links .title p {
    color: #4D616E;
    font-size: 15px;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .desktop-main-links .links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .desktop-main-links .links-wrapper a.link {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 20px;
    border-radius: 42px;
    font-size: 15px;
    font-weight: 600;
    color: #3f3f3f;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .desktop-main-links .links-wrapper a.link.active {
  background-color: #F4F5F4;
  color: #0266FF;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .desktop-main-links .links-wrapper a.link svg {
    width: 20px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links {
    position: absolute;
    bottom: 38px;
    left: 38px;
    width: 260px;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .title {
  display: none;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .title {
    display: block;
    color: #4D616E;
    font-size: 15px;
    margin-bottom: 14px;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper {
    flex-direction: column;
    gap: 12px;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a {
  display: flex;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a {
    font-size: 15px;
    justify-content: space-between;
    font-weight: 600;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.secondary-btn {
  padding: 12px;
  border-radius: 50%;
  background-color: #E6F1FF;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.secondary-btn {
    justify-content: center;
    align-items: center;
    padding: 17px;
  }
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.secondary-btn {
    border-radius: 42px;
    padding: 16px 20px;
    color: #0266FF;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.secondary-btn p {
  display: none;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.secondary-btn p {
    display: block;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.secondary-btn svg {
  width: 16px;
  height: 16px;
  color: #0266FF;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.secondary-btn svg {
    width: 20px;
    height: 20px;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.primary-btn {
  display: flex;
  gap: 14px;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  border-radius: 42px;
  background-color: #0266FF;
  color: #fff;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.primary-btn {
    padding: 16px 27px;
    font-size: 15px;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.primary-btn:hover {
  background-color: #0252CD;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.primary-btn {
    padding: 16px 20px;
  }
}
body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.primary-btn svg {
  width: 10px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .nav-wrapper .menu-items .setting-links .link-wrapper a.primary-btn svg {
    width: 20px;
    height: 20px;
  }
}
body .dashboard-block .navigation-bar .mobile-dropdown-cont {
  position: relative;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .navigation-bar .mobile-dropdown-cont {
    display: none;
  }
}
body .dashboard-block .navigation-bar .mobile-dropdown-cont .dashboard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0266FF;
  gap: 10px;
  width: 100%;
  padding: 16px 0;
  background-color: #F4F5F4;
  cursor: pointer;
}
body .dashboard-block .navigation-bar .mobile-dropdown-cont .dashboard-btn svg {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
  transition: 0.3s;
}
body .dashboard-block .navigation-bar .mobile-dropdown-cont .dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F4F5F4;
  border-top: #D7D8DD solid 1px;
  position: absolute;
  width: 100%;
  transition: 0.3s;
  opacity: 1;
}
body .dashboard-block .navigation-bar .mobile-dropdown-cont .dropdown .dropdown-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 0;
}
body .dashboard-block .navigation-bar .mobile-dropdown-cont .dropdown .dropdown-link-wrapper a {
  display: flex;
  gap: 10px;
  color: #0266FF;
}
body .dashboard-block .navigation-bar .mobile-dropdown-cont .dropdown .dropdown-link-wrapper a svg {
  width: 16px;
  height: 16px;
}
body .dashboard-block .navigation-bar .mobile-dropdown-cont.closed .dashboard-btn svg.toggle-chevron {
  transition: 0.3s;
  transform: rotate(0deg);
}
body .dashboard-block .navigation-bar .mobile-dropdown-cont.closed .dropdown {
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}
body .dashboard-block .page-content {
  padding: 15px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content {
    width: 100%;
    padding: 51px 38px 18px 50px;
    max-width: 1164px;
    overflow: auto;
  }
}
body .dashboard-block .page-content section.welcome-block {
  padding: 0 15px 20px 15px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 36px 0;
  }
}
body .dashboard-block .page-content section.welcome-block .text-cont h1 {
  font-size: 20px;
  font-weight: 600;
  color: #3f3f3f;
  margin-bottom: 7px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .text-cont h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
}
body .dashboard-block .page-content section.welcome-block .text-cont p {
  color: #4D616E;
  font-size: 14px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .text-cont p {
    margin: 0;
    font-size: 15px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont {
  position: relative;
}
body .dashboard-block .page-content section.welcome-block .btn-cont a {
  display: flex;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-weight: 700;
  font-size: 13px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  border-radius: 42px;
  background-color: #0266FF;
  color: #fff;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont a {
    padding: 16px 27px;
    font-size: 15px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont a:hover {
  background-color: #0252CD;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont a {
    font-size: 15px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont a svg {
  width: 10px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont a svg {
    width: 12px;
    height: 12px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(-100%);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 965px;
  min-height: 237px;
  padding: 26px 32px;
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.57);
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.57);
  background-color: #fff;
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont {
    margin-bottom: 52px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont .text-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont .text-wrap h3 {
  font-weight: 600;
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont .text-wrap h3 {
    font-size: 24px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont .text-wrap p {
  font-size: 13px;
  color: #4D616E;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont .text-wrap p {
    font-size: 15px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont .upload-close-btn {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont .upload-close-btn {
    width: 50px;
    height: 50px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner .top-cont .upload-close-btn svg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form {
    display: grid;
    grid-template-columns: 44fr 49fr 7fr;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form .form-group {
    gap: 6px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form .form-group label {
  font-size: 13px;
  color: #3f3f3f;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form .form-group label {
    font-size: 15px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form .form-group.upload-file input {
  background: #F4F5F4;
  display: flex;
  align-items: center;
  padding: 13px;
  border-radius: 2px;
  height: 48px;
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form .form-group.document-name input {
  padding: 15px;
  border: none;
  background-color: #F4F5F4;
  border-radius: 3px;
  height: 48px;
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form .form-group.submit input {
  background-color: #0266FF;
  height: 48px;
  border-radius: 42px;
  font-size: 13px;
  color: #fff;
  border: none;
  padding: 16px 27px;
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  body .dashboard-block .page-content section.welcome-block .btn-cont .modal .inner form .form-group.submit input {
    font-size: 15px;
  }
}
body .dashboard-block .page-content section.welcome-block .btn-cont .modal.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
body .dashboard-block .page-content section.file-uploads {
  max-width: 1076px;
  max-height: 366px;
  overflow: auto;
  margin-bottom: 30px;
}
body .dashboard-block .page-content section.file-uploads table {
  border-spacing: 0 6px;
  width: 100%;
}
body .dashboard-block .page-content section.file-uploads table thead tr th {
  font-size: 15px;
  color: #3f3f3f;
  font-weight: 600;
  padding-bottom: 17px;
}
body .dashboard-block .page-content section.file-uploads table thead tr th.file-num-title, body .dashboard-block .page-content section.file-uploads table thead tr th.file-name, body .dashboard-block .page-content section.file-uploads table thead tr th.uploaded-by {
  text-align: left;
}
body .dashboard-block .page-content section.file-uploads table thead tr th.upload-date {
  text-align: center;
}
body .dashboard-block .page-content section.file-uploads table thead tr th.uploaded-by {
  padding-left: 36px;
}
body .dashboard-block .page-content section.file-uploads table tbody tr {
  overflow: hidden;
}
body .dashboard-block .page-content section.file-uploads table tbody tr td {
  background-color: #F2F3F8;
  padding: 19px 24px;
}
body .dashboard-block .page-content section.file-uploads table tbody tr td.file-num-value {
  border-radius: 4px 0 0 4px;
  width: 110px;
  min-width: 110px;
}
body .dashboard-block .page-content section.file-uploads table tbody tr td.file-name-value {
  width: 510px;
  min-width: 510px;
  border-left: solid 1px rgba(0, 0, 0, 0.1098039216);
  border-right: solid 1px rgba(0, 0, 0, 0.1098039216);
}
body .dashboard-block .page-content section.file-uploads table tbody tr td.upload-date-value {
  border-right: solid 1px rgba(0, 0, 0, 0.1098039216);
  width: 160px;
  min-width: 160px;
}
body .dashboard-block .page-content section.file-uploads table tbody tr td.uploaded-by {
  width: 216px;
  min-width: 216px;
}
body .dashboard-block .page-content section.file-uploads table tbody tr td.download {
  max-width: 58px;
  max-height: 56px;
  background-color: #0266FF;
  border-radius: 0 4px 4px 0;
}
body .dashboard-block .page-content section.file-uploads table tbody tr td.download a {
  cursor: pointer;
}
body .dashboard-block .page-content section.file-uploads table tbody tr td.download a svg {
  width: 14px;
  height: 14px;
  color: #fff;
}
body .dashboard-block .page-content section.history {
  max-width: 1076px;
  overflow: auto;
  padding: 26px 34px 28px 30px;
  background-color: #F4F5F4;
  border-radius: 4px;
}
body .dashboard-block .page-content section.history .top {
  margin-bottom: 18px;
}
body .dashboard-block .page-content section.history .top .title-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 24px;
  font-weight: 600;
  color: #3f3f3f;
  margin-bottom: 12px;
}
body .dashboard-block .page-content section.history .top .title-cont svg {
  width: 20px;
  height: 20px;
}
body .dashboard-block .page-content section.history .top .subtitle p {
  font-size: 15px;
  color: #4D616E;
}
body .dashboard-block .page-content section.history .bottom {
  max-width: 978px;
  max-height: 230px;
  overflow: auto;
}
body .dashboard-block .page-content section.history .bottom table {
  border-spacing: 0 6px;
}
body .dashboard-block .page-content section.history .bottom table tr td {
  padding: 14px 20px;
}
body .dashboard-block .page-content section.history .bottom table tr td.date-value {
  background-color: #DAE5F9;
  border-radius: 4px 0 0 4px;
  color: #0266FF;
  font-size: 15px;
  font-weight: 500;
}
body .dashboard-block .page-content section.history .bottom table tr td.history-item {
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 830px;
}
body .dashboard-block .page-content section.history .bottom table tr td.history-item .user-cont {
  display: flex;
  align-items: center;
  gap: 14px;
}
body .dashboard-block .page-content section.history .bottom table tr td.history-item .user-cont img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: solid 1px #0266FF;
}
body .dashboard-block .page-content section.history .bottom table tr td.history-item .log-cont {
  display: flex;
  align-items: center;
  gap: 4px;
}

/*# sourceMappingURL=styles.css.map */
